<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h3>Unpublished Posts</h3><hr>
        <% posts.forEach(post => { %>
            <h3><%= post.title %> </h3>
            <p><%- post.content %> </p>
            <form action="<%= "/posts/edit/" + post._id %>">
                <button type="submit">Edit Post</button>
            </form>
            <hr>
        <% }) %> 
    </body>
</html>

